body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #222;
  background-image: url('https://source.unsplash.com/1600x900/?landscape');
  font-size: 120%;
}

.card {
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 1rem;
  border-radius: 15%;
  align-items: center;
  border: none;
  height: 44px;
  width: 75px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

.txt {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

button:hover {
  background: #7c7c7c6b;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.flex {
  display: flex;
  align-items: center;
}

.description {
  text-transform: capitalize;
  margin-left: 8px;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}

.navbar {
  background: #000000d0;
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(50px);
}


 .navbar__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  clear: both;
  max-height: 200px;
  transition: max-height 0.2s ease-out;
  display: flex;
  
  }
  

.navbar__menu-link {
  display: block;
  padding: 5px 5px;
  text-decoration: none;
  color: white;
  margin: 0 20px;
}

.navbar__menu-link:hover {
  color: #ddd;
}

.container {
  width: 100%;
  max-width: 1200px; /* Adjust max-width as needed */
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.image {
  width: 2.5rem;
  height: 2.5rem;
}

.card1 {
  margin-top: 20%;
  max-width: 1000px;
}

.rectangle {
  background-color: white;
  height: 1px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

/* Media Queries for responsiveness */
@media only screen and (min-width: 600px) {
  .card {
    max-width: 600px;
  }

  .txt,
  input.search-bar {
    width: 70%;
  }
}

@media only screen and (min-width: 768px) {
  .card {
    max-width: 768px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    justify-content: space-between;
  }

  .navbar__menu {
    width: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* menu btn */

 .menu-btn {
  display: none;
  }
  
  .menu-btn:checked ~ .navbar__menu {
  max-height: 240px;
  }
  
  .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
  }
  
  .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
  }
  
  .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
  }
  
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
  }

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    }
    
  .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
    }
    
    .menu-icon .navicon:before,
    .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    }
    
    .menu-icon .navicon:before {
    top: 5px;
    }
    
    .menu-icon .navicon:after {
    top: -5px;
    }

@media only screen and (max-width: 768px) {
  .menu-btn {
     /* Show the hamburger menu button */
  }

  .navbar__menu {
    display: none; /* Hide the menu by default on small screens */
    flex-direction: column; /* Arrange list items vertically */
    position: absolute;
    width: 100%;
    top: 60px; /* Adjust as needed based on your design */
    left: 0;
    color: white;
    background-color: #000000d0;
  }

  .navbar__menu.active {
    display: flex; /* Show the menu when the checkbox is checked */
    
  }

  .navbar__menu-link {
    border: none; /* Remove the border for mobile */
    text-align: center;
    padding: 15px 0;
    width: 100%;
  }

  .card1 {
    margin-top: 50%;
  }
}    
    


@media (min-width: 48em) {
   li {
    float: left;
  }
   li a {
    padding: 20px 30px;
  }
   .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .menu-icon {
    display: none;
  }

  }

  
@media only screen and (max-width: 530px) {
  
  .card1 {
    margin-top: 100%;
   
  }
}


@media only screen and (max-width: 390px) {
  
  .card1 {
    margin-top: 180%;
  }
}